.main-photo {
    background: url('../img/10882.png');
}

/* sometime tailwind JIT  fail to create some of these classes so i create it to be sure */
/*wld be deleted in the final build */
.flex {
    display: flex;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-2 {
    flex-grow: 2;
}
.flex-grow-3 {
    flex-grow: 3;
}
.max-w-57 {
    max-width: 57rem;
}
.food-card-container {
    --gap: 1.2rem;
    margin-bottom: var(--gap);
}
.food-card {
    margin-left: var(--gap);
}
.food-card:first-child {
    margin-left: 0;
}
